In [70]:
import json ,requests
import pandas as pd
import numpy as np

In [148]:
url = 'https://api.foursquare.com/v2/venues/explore'

params = dict(
client_id='SBRUPO0JNQJ42WN0Y45KJ3MHWUHPOEHP4TAKDLTWSK5IKKT5',
client_secret='GANLLZLYVEU1K5VT0FSKECGQFIM3VDZN0JMXKT4MZCHKHTZS',
v='20180323',
ll='24.7885344,46.6266208',
query='Trending'
)
resp = requests.get(url=url, params=params)
data = json.loads(resp.text)

In [150]:
venue_dic={'id':[],'name':[],'address':[],'lat_long':[],'category':[]}

for group in data['response']['groups']:
    for item in  group['items']:
        new_cat=''
        venue_dic['id'].append( item['venue']['id'])
        venue_dic['name'].append( item['venue']['name'])
        venue_dic['lat_long'].append('{0},{1}'.format( item['venue']['location']['lat'],item['venue']['location']['lng']))
        for cat in item['venue']['categories']:
            if new_cat !='':
                new_cat=','+new_cat
            new_cat+=cat['shortName']
        venue_dic['category'].append(new_cat)
        
        try:
            venue_dic['address'].append(item['venue']['location']['address'])
        except:
            venue_dic['address'].append(np.nan)

In [151]:
df=pd.DataFrame( venue_dic)
df.head()

,id,name,address,lat_long,category
0,5e146a45d10c3d000807ee06,The California Burger,"Al Malqa, Riyadh","24.80649,46.612312",Burgers
1,5ece84d5b018390008631ce9,Fabrica De Cafe,Prince Muhammed Ibn Saad Rd,"24.766358,46.623327",Coffee Shop
2,5e209bd9daee0b0008160ffa,Gallo (جالو),Prince Mohammed Ibn Salman Rd.,"24.781162,46.647211",Burgers
3,5e2c6f651b5837000886d0c0,amai Japanese Bakery,Prince Muhammad Ibn Saad Bin Abdulaziz Rd,"24.766584,46.622217",Bakery
4,5c49e15d7d8497002cbdbfb9,TREE HOUSE CAFE,Prince Saud Bin Muhammed Bin Miqren,"24.781293,46.647401",Café